
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

/* Navbar */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
  width: 100%;
  height: 10em;
  position: relative;
  line-height: 65px;
  text-align: center;

}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #00e676;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 5em;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
  color: #00e676;
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
    margin-top: 3em;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 40vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
    z-index: 5;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
  
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger.active{
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: -39.5vh;
  bottom: 0; 
}

.text-wrapper.active{
  margin-top: 40vh;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

.top-elements {
  position: relative;
  z-index: 4;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.phone-img {
  width: auto;
  height: 55vh;
  margin-top: 5em;
}
.quote-text {
  font-size: 3.5em;
  color: white;
  right: -1%;
  position: relative;
  margin-bottom: 3vh;
  padding-top: 3vh;
  width: fit-content;
}

.button {
  position: relative;
  z-index: 4;
}
.main-btn {
  /* padding-top: 3vh; */
  width: fit-content;
  margin-right: 1vw;
  font-size: 1.5em;

  border: 2px solid white;
  background: transparent;
  color: white;
  text-align: center;
  padding: 1vh 1.5vw;
  border-radius: 100px;
  position: relative;
  /* right 0; */
}

/* ********************* Image Waves ************************ */
.text-animation {
  /* background: #000; */
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* margin-left: 5vw;
  margin-top: -20vh; */

}
.text-wrapper {
  position: relative;
  width: fit-content;
  /* overflow: hidden; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.text-anim {
  /* height: fit-content;
  margin: 11vh;
  width: 15vw;
  margin-bottom: 12.5vh; */

  width: 20vw;
  height: auto;
  margin-left: 14em;
  margin-top: 5em;
  margin-right: 5em;
  color: white;
  right: -1%;
  position: relative;
  margin-bottom: 3vh;
  padding-top: 3vh;
  width: fit-content;
}
@media screen and (max-width: 1590px) {
  .text-anim {
  font-size: .7em;
  }
}
@media screen and (max-width: 540px) {
  .text-anim {
  font-size: .6em;
  }
}
  


.text-wrapper h2 {
  z-index: 4;
  color: #fff;
  font-size: 9em;
  white-space: nowrap;
  position: absolute;
  transform: translate(-50%, -62%);
}

.text-wrapper h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.text-wrapper h2:nth-child(2) {
  color: #fff;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  /* start point */
  0%,
  100% {
    clip-path: polygon(
      0% 46%,
      17% 45%,
      34% 50%,
      56% 61%,
      69% 62%,
      86% 60%,
      100% 51%,
      100% 100%,
      0% 100%
    );
  }
  /* Mid point */
  50% {
    clip-path: polygon(
      0% 59%,
      16% 64%,
      33% 65%,
      52% 61%,
      70% 52%,
      85% 47%,
      100% 48%,
      100% 100%,
      0% 100%
    );
  }
}

.waveDiv {
  position: absolute;
  overflow: hidden;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wave-content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: -1px;
  background-image: linear-gradient(to top, #080022 30%, #000000 90%);
}
.first-wave {
  z-index: 3;
  opacity: 0.5;
}
.second-wave {
  z-index: 2;
  opacity: 0.75;
}
.third-wave {
  z-index: 1;
}
.wave-image {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.first-image {
  background-size: 50% 100px;
}
.animation-wave .first-image {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.second-image {
  background-size: 50% 120px;
}
.animation-wave .second-image {
  animation: waves 10s linear infinite;
}
.third-image {
  background-size: 50% 140px;
}
.animation-wave .third-image {
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translateX(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) scaleY(1);
  }
}
/* ********************* Image Waves ************************ */
/* Gradient tracking */

/* Gradient tracking */

/* Time Section */
.timer {
  height: 70vh;
  margin-top: 10vh;
  margin-bottom: 20vh;
  /* background-image: url("../images/guid.jpg");
  background-size: cover;
  position: relative;
  bottom: -10%;
  overflow: hidden;
  z-index: 1; */
  text-transform: uppercase;
}
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.launch-time{
  font-family: 'Lilita One', ;
  /* font-family: "Arial Narrow", Arial, sans-serif, bold; */
  color: black; 
  font-size: 9em; 
  font-weight: 600;
  /* margin-top: 1vh; */
}
.launch-title{
  margin-top: 40vh;


  /* margin-bottom: 10vh; */
}
ul#countdown {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto;
  padding: 15px 0 20px 0;
  color: #020331;
  border: 1px solid #001f4e;
  border-width: 1px 0;
  overflow: hidden;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
ul#countdown li {
  margin: 0 -3px 0 0;
  padding: 0;
  display: inline-block;
  width: 25%;
  font-size: 72px;
  font-size: 6vw;
  text-align: center;
}
ul#countdown li .label {
  color: #000e23;
  font-size: 18px;
  font-size: 1.5vw;
  text-transform: uppercase;
}
/* Time Section */

/* Parallax */

.AboutUs-Title{
  font-family: 'Lilita One', ;
  /* font-family: "Arial Narrow", Arial, sans-serif, bold; */
  color: rgb(255, 255, 255); 
  /* color: black; */
  font-size: 10em; 
  margin-top: 10vh;
  font-weight: 200;
  /* margin-top: 1vh; */
}
.About-description{
  color: white;
  /* color: black; */
  font-size: 2.5em;
  margin-top: 10vh;
  padding-inline: 10vw;
  margin-bottom: 7vh;
}

.parallax {
  /* padding-top: 20vh;
  background-image: url("../images/guid.jpg");
  background-size: cover;
  position: relative;
  bottom: 100%;
  overflow: hidden;
  min-height: 500px; */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0029d9;
  background-blend-mode: multiply; */

  padding-top: 20vh;
  background-image: url("../images/guid.jpg");
  background-size: cover;
  background-color: white;
  color: black;
  position: relative;
  bottom: 100%;
  overflow: hidden;
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0029d9;
  background-blend-mode: multiply;

  margin-top: 10vh;
  

  
}

/* about us section */

/* section {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
} */

/* section:nth-child(even) {
  background-color: teal;
  color: white;
} */

/* Parallax */
/* services-section */
.services-section{
  height: fit-content;
    /* background-image: url("../images/guid.jpg");
  background-size: cover; */


  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0029d9;
  background-blend-mode: multiply;
  margin-bottom: 10vh; */
  }
  .Services-Title{
    font-size: 10em;
    padding-top: 10vh;
  }
  .product-card {
    position: relative;
    margin: 10px 0px;
    z-index: 1;
    display: block;
    background: #ffffff;
    min-width: 270px;
    height: 470px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  }
  
  .product-card .card-thumbnail {
    background: #000000;
    /* height: 400px; */
    overflow: hidden;
  }
  
  .product-card .card-thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1);
    transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  }
  
  .product-card:hover .card-thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
  }
  
  .fa-send:before {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 13px;
  }
  
  .product-card .card-content {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    padding: 40px 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  }
  
  .product-card .card-content .send {
    position: absolute;
    top: -30px;
    right: 10px;
    height: 60px;
    width: 60px;
    background: #197;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
    transition-delay: 0.3s;
    opacity: 0;
  }
  
  .product-card:hover .card-content .send {
    opacity: 1;
  }
  
  .product-card .card-content .card-title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  
  .product-card .card-content .card-sub-title {
    margin: 0;
    padding: 0 0 20px;
    color: #197;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
  }
  
  .product-card .card-content .description {
    color: #666666;
    font-size: 12px;
    line-height: 1.8em;
    display: none;
    /* height: 0px; */
  }
  
  .product-card .card-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
  }
  
  .product-card .card-content .post-meta .time-stamp {
    margin: 0 80px 0 0;
  }
  
  .product-card .card-content .post-meta a {
    color: inherit;
    text-decoration: none;
  }
  
  
  /* .child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    padding: 2em;
    width: 500px;
    height: 500px;
    transform: rotate(90deg);
    border: 1px solid #333;
    box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.3);
    text-align: center;
  }
  .child p {
    line-height: 1.5;
  }
  .scr,
  .pane {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
  b {
    font-size: 80px;
    display: block;
    color: #ffffff;
    text-shadow: 1px 1px 0 #bbbbbb, 2px 2px 0 #cccccc, 3px 3px 0 #cccccc,
      4px 4px 0 #cccccc, 5px 5px 0 #cccccc, 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .horiz {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .horiz .spane {
    overflow: hidden;
    font-size: 0;
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  .horiz .pane {
    display: inline-block;
    width: 100%;
  }
  .ct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .an .ct {
    transform: translate3D(0, 20px, 0) rotateX(90deg) scale(0.5);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.38, 1.47);
  }  
  .ScrollPane {
    position: relative;
    width: 100%;
    height: 100%;
  } */
/* WHY MENTOR */
.mentor-section{
  /* height: 100vh;
  margin-top: 5vh; */
  height: fit-content;
  margin-top: 5vh;
  margin-bottom: 10vh;
  


}
.mentor-title{
  font-size: 10em;
}
.mentor-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15vh;
}
.mentor-des{
  font-size: 2.5em;
  padding-inline: 3vw;
  width: 65vw;
}
.mentor-img{
    
}
.mentor-image{
  width: 20em;
  padding: 2em;
}
.mentor-mail{
    /* font-size: 1.5em; */
    border: 2px solid black;
    background: transparent;
    color: black;
    text-align: left;
    padding: 1vh 1.5vw;
    border-radius: 100px;
    /* position: relative; */
    width: fit-content;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    font-weight: bold;
    width: fit-content;


}

.mentor-mail:hover {
  background: rgb(220, 197, 238);
  transition: 2s all ease;
  /* background: rgb(220, 197, 238);
  transition: 2s all ease; */
}


/* Mentee Section */
.mentee-section{
  /* height: 130vh; 
  margin-top: 5vh; */
  height: fit-content;
  margin-top: 5vh;
  margin-bottom: 10vh;
  background-image: url("../images/mentee.jpg");
  background-size: cover;
  position: relative;
  bottom: 100%;
  overflow: hidden;
  min-height: 500px;
  color: white;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0029d9;
  background-blend-mode: multiply;
}
.mentee-title{
  margin-top: 5vh;
  font-size: 10em;
}
.mentee-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15vh;
}
.mentee-des{
  font-size: 2.5em;
  padding-inline: 3vw;
  width: 65vw;
}
.mentee-img{
    
}
.mentee-image{
  width: 20em;
  padding: 2em;
}
.mentee-mail{
    /* font-size: 1.5em; */
    border: 2px solid white;
    background: transparent;
    color: white;
    text-align: left;
    padding: 1vh 1.5vw;
    border-radius: 100px;
    /* position: relative; */
    width: fit-content;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    font-weight: bold;
    width: fit-content;

    cursor: pointer;
    transition: 2s all ease;
}

.mentee-mail:hover {
  background: rgb(220, 197, 238);
  transition: 2s all ease;
}

/* Testimonials Carousel */

.carousel-indicators li { visibility: hidden; }

#testimonials-carousel{
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.item{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Contact Us */
.contact_section {
  width: 100%;
  float: left;
  background: white;
  padding-top: 10vh;
  margin-top: 5vh;
/* GRADIENT ISSUE */
}
.contact-title{
  font-size: 5em;

}

.amet_text {
  width: 100%;
  float: left;
  color: #1e1e1e;
  font-size: 16px;
  text-align: center;
  margin-left: 0px;
}
.contact_section2 {
  width: 100%;
  float: left;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.mail_section {
  width: 70%;
  /* float: center; */
  /* padding-left: 50px; */
  margin: 0 auto;
}
.mail_text_1 {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #666666;
  background-color: transparent !important;
  border-bottom: 1px solid #050000 !important;
  padding-right: 20px;
  border: 0px;
  padding-top: 20px;
  text-align: center;
}
.massage_text {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #666666;
  background-color: transparent !important;
  border-bottom: 1px solid #050000 !important;
  padding-right: 20px;
  border: 0px;
  height: 70px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 3rem;
}
.send_bt {
  width: 170px;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 5em;
}
/* .send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #ff5a58;
    padding: 10px 0px;
    text-transform: uppercase;
    border-radius: 30px;
} */
.send_bt {
  width: 50%;
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  background-color: #623c77;
  padding: 10px 0px;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  margin-top: 1em;
  margin-left: 25%;
  /* color transition */
  transition: 0.5s all ease;
}
.send_bt:hover {
  background-color: #8974cf;
  transform: scale(1.1);
  transition: 0.5s all ease;
}

.whatsapp-text {
  color: #ffffff;
  text-decoration: none;
}
.whatsapp-text:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Footer */
/* 
.footer_section {
  width: 100%;
  float: left;
  background-color: #121212;
  height: auto;
}

.layout_padding {
  padding-top: 5rem;
  padding-bottom: 0px;
}
*/
.about_text {
  padding-top: 1em;
  width: 100%;
  float: left;
  font-size: 24px;
  color: #fffcf4;
}

.location_text {
  width: 100%;
  float: left;
  font-size: 13px;
  color: #fffcf4;
  padding-top: 18px;
  padding-bottom: 1em;
}

.footer_link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1em;
}

.footer_link:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.footer_link:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
 
.dolor_text {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #fffcf4;
  padding-top: 10px;
  margin: 0px;
  line-height: 40px;
}


a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: "Nunito", sans-serif;
}

.footer {
  /* background-color: #004658; */
  /* background-color: #0c0028d9; */
  background: linear-gradient(0deg, #102f62, #611750);
  /* background-image: linear-gradient(to top, #102f62 30%, #080022 90%); */

  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  /* color: #00bef0; */
  background-color: #0c0028d9;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  /* background-color: #027b9a; */
  background-color: #0c0028d9;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  /* fill: #027b9a;
     */
  fill: #0c0028d9;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  /* background-color: #027b9a; */
  background-color: #03000ad9;
  /* background-color: #080022; */
  /* background-color: #102f62; */
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }


  .timer {
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 15vh;
    text-transform: uppercase;
  }

  .launch-time{
    font-family: 'Lilita One', ;
    /* font-family: "Arial Narrow", Arial, sans-serif, bold; */
    color: black; 
    font-size: 5em; 
    font-weight: 600;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }

}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


/* WAVE footer */
/*wave and animation*/
 .wave {
  border: 2px solid red;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;
  background:black
}

 .wave#wave1 {
  z-index: 1000;
  opacity: 1;

  bottom: 0;
  animation: animateWave 4s linear infinite;
}

 .wave#wave2 {
  z-index: 999;

  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
 .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;

  animation: animateWave 3s linear infinite;
}

 .wave#wave4 {
  z-index: 999;

  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0%{
    background-position-x: 1000px; 
  }
  100%{
    background-position-x: 0px; 
  }
}

@keyframes animateWave_02 {
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}




/* RESPONSIVE SECTION */

@media screen and (max-width: 800px) and (min-width: 600px) {
  .mentor-section{
    height: fit-content;
  }
  .mentor-info{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 15vh;
  }
  .mentor-title{
    font-size: 5em;
  }
  .mentor-des{
    font-size: 2em;
    padding-inline: 2vw;
  }
  .mentor-img{
      padding: 2vw;
  }
  .mentor-image{
    display: none;
  }
  .services-section{height: fit-content;}
  .Services-Title{
    font-size: 5em;
  }


}


@media screen and (max-width: 1350px) and (min-width: 800px) {
  .mentor-section{
    height: fit-content;
  }
  .mentor-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15vh;
  }
  .mentor-title{
    font-size: 10em;
  }
  .mentor-des{
    font-size: 2em;
    padding-inline: 1vw;
  }
  .mentor-img{
      padding: 2vw;
  }
  .mentor-image{
    display: block;
  }

  .services-section{height: fit-content;}
  .Services-Title{
    font-size: 10em;
  }
  .waveDiv{
    height: 120vh;
  }
}
@media screen and (max-width: 600px) {
  .mentor-section{
    height: fit-content;
  }
  .mentor-info{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 15vh;
  }
  .mentor-title{
    font-size: 5em;
  }
  .mentor-des{
    font-size: 2em;
    /* padding-inline: 1vw; */
    width: fit-content;
  }
  .mentor-img{
      padding: 2vw;
  }
  .mentor-image{
    display: none;
  }

  .waveDiv{
    height: 160vh;
  }
}






@media screen and (max-width: 800px) and (min-width: 600px) {
  .mentee-section{
    height: fit-content;
  }
  .mentee-info{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 15vh;
  }
  .mentee-title{
    font-size: 5em;
  }
  .mentee-des{
    font-size: 2em;
    padding-inline: 2vw;
  }
  .mentee-img{
      padding: 2vw;
  }
  .mentee-image{
    display: none;
  }
  .waveDiv{
    height: 140vh;
  }
}
@media screen and (max-width: 1350px) and (min-width: 800px) {
  .mentee-section{
    height: fit-content;
  }
  .mentee-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15vh;
  }
  .mentee-title{
    font-size: 10em;
  }
  .mentee-des{
    font-size: 2em;
    padding-inline: 1vw;
  }
  .mentee-img{
      padding: 2vw;
  }
  .mentee-image{
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .mentee-section{
    height: fit-content;
    }
  .AboutUs-Title{
    font-size: 4em;
  }
  .About-description{
    font-size: 2em;
  }
  .mentee-info{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 15vh;
  }
  .mentee-title{
    font-size: 5em;
  }
  .mentee-des{
    font-size: 2em;
    /* padding-inline: 1vw; */
    width: fit-content;
  }
  .services-section{height: fit-content;}
  .Services-Title{
    font-size: 7em;
  }
  .mentee-img{
      padding: 2vw;
  }
  .mentee-image{
    display: none;
  }
}